{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.md", "*.markdown"],
      "excludeFiles": ["CHANGELOG.md"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.js", "*.ts", "*.jsx", "*.tsx"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
